<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-zpxpotx7ztpkw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/879be5b9-13b1-408f-b8d3-ee0ff80be01a/resourceGroups/TollBoothDemo/providers/Microsoft.Web/sites/TollBoothFunctions-zpxpotx7ztpkw</ResourceId>
    <UserName>$TollBoothFunctions-zpxpotx7ztpkw</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-zpxpotx7ztpkw.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>